<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.binauralbeats">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".InsideSettingsActivity"
            android:label="@string/InsideSettings_activity_title"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/Profile_activity_title"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SessionActivity"
            android:label="@string/Session_activity_title"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayActivity"
            android:label="@string/Library_activity_title"
            android:parentActivityName=".LibraryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/Settings_activity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/Create_activity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LibraryActivity"
            android:label="@string/Library_activity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>